absl-py==0.11.0
aiohttp==3.7.3
aiohttp-cors==0.7.0
aioredis==1.3.1
astunparse==1.6.3
async-timeout==3.0.1
atari-py==0.2.6
attrs==20.3.0
blessings==1.7
cachetools==4.2.0
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
colorful==0.5.4
contextvars==2.4
dataclasses==0.8
dm-tree==0.1.5
filelock==3.0.12
flatbuffers==1.12
future==0.18.2
gast==0.3.3
google-api-core==1.24.1
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.52.0
gpustat==0.6.0
grpcio==1.32.0
gym==0.18.0
h5py==2.10.0
hiredis==1.1.0
idna==2.10
idna-ssl==1.1.0
immutables==0.14
importlib-metadata==3.4.0
jsonschema==3.2.0
Keras-Preprocessing==1.1.2
lz4==3.1.1
Markdown==3.3.3
msgpack==1.0.2
-e git+git@github.com:DrArtemi/multiagent-particle-envs.git@b2f65814be5242d406b45a1ef9fc989e042233f0#egg=multiagent
multidict==5.1.0
numpy==1.19.5
numpy-stl==2.13.1
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.7.11
opencensus-context==0.1.2
opencv-python==4.5.1.48
opencv-python-headless==4.3.0.36
opt-einsum==3.3.0
pandas==1.1.5
Pillow==7.2.0
prometheus-client==0.9.0
protobuf==3.14.0
psutil==5.8.0
py-spy==0.3.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyglet==1.5.0
pyrsistent==0.17.3
python-dateutil==2.8.1
python-utils==2.4.0
pytz==2020.5
PyYAML==5.3.1
ray==1.1.0
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7
scipy==1.5.4
six==1.15.0
tabulate==0.8.7
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.3
zipp==3.4.0
